<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.psj.welfare">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <application
        android:name=".kakao.App"
        android:allowBackup="true"
        android:icon="@drawable/launcher_image2"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/launcher_image"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,UnusedAttribute">
        <activity android:name=".BannerDetail" />
        <activity android:name=".activity.WithdrawActivity" />
        <activity android:name=".activity.ChooseSecondInterestActivity" />
        <activity android:name=".activity.ChooseFirstInterestActivity" />
        <activity android:name=".activity.BookmarkEditActivity" />
        <activity android:name=".activity.WrittenReviewCheckActivity" />
        <activity android:name=".activity.BookmarkCheckActivity" />
        <activity android:name=".DetailReviewAllLook" />
        <activity android:name=".DetailReviewWrite" />
        <activity android:name=".TutorialResult" />
        <activity android:name=".TutorialCategory" />
        <activity android:name=".TutorialWelcome" />
        <activity android:name=".DetailTabLayoutActivity" />
        <activity android:name=".test.TestMoreViewActivity" />
        <activity
            android:name=".test.TestSearchResultActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".activity.YoutubeTestActivity" />
        <activity android:name=".activity.RegionResultActivity" />
        <activity android:name=".activity.RegionChooseActivity" />
        <activity android:name=".activity.ThemeChooseActivity" />
        <activity android:name=".activity.TermsAndConditionsActivity" />
        <activity android:name=".activity.PersonalInformationActivity" />
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.psj.welfare.push" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SearchResultActivity" />
        <activity android:name=".activity.YoutubeActivity" />
        <activity android:name=".activity.YoutubeMoreActivity" />
        <activity
            android:name=".activity.ReviewUpdateActivity"
            android:theme="@style/ReviewTheme" />
        <activity android:name=".activity.GetUserInformationActivity" />
        <activity android:name=".activity.MapSearchActivity" />
        <activity android:name=".activity.MapDetailActivity" />
        <activity
            android:name=".activity.MapActivity"
            android:theme="@style/ReviewTheme" />
        <activity
            android:name=".activity.ReviewActivity"
            android:parentActivityName=".activity.DetailBenefitActivity"
            android:theme="@style/ReviewTheme" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <activity
            android:name=".activity.MainTabLayoutActivity"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ResultBenefitActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.DetailBenefitActivity" />

        <service
            android:name=".api.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".api.MyFirebaseInstanceIDService"
            android:enabled="false"
            android:exported="false"
            tools:ignore="InnerclassSeparator" />
        <service android:name="com.google.firebase.components.ComponentDiscoveryService">
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.iid.Registrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
        </service>
    </application>

</manifest>